<div class="panel-container">
  <button class="panel-left-button" onclick="clickLeftButton()">
    <
  </button>
  <div style="position: absolute">
    <%= yield %>
  </div>
  <button class="panel-right-button" onclick="clickRightButton()"">
    >
  </button>
</div>
