<h1>Contact</h1>

<a href="https://github.com/aidantallon">
  <div>
    <img src="github_logo.png" class="contact-img"/>
  </div>
</a>

<a href="https://www.linkedin.com/in/aidan-tallon-90527512b/">
  <div>
    <img src="linkedin_logo.png" class="contact-img"/>
  </div>
</a>

<a href="https://www.twitter.com/aidantallon">
  <div>
    <img src="twitter_logo.png" class="contact-img"/>
  </div>
</a>
