// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#page-header {
  height: 100px;
}

.nav-button {
  display: block;
  width: 100%;
  text-align: center;
}

#navbar {

}

#page-content {

}

.panel-container  {
  height: 60%;
  width: 60%;
  position: absolute;
  left: 20%;
}

.panel-left-button {
  display: block;
  height: 100%;
  width: 10%;
  position: absolute;
  left: 0px;
}

.panel-right-button {
  display: block;
  height: 100%;
  width: 10%;
  position: absolute;
  right: 0px;
}

.contact-img {
  height: 80px;
}

#page-footer {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#dev-monzostreak {
  display: block;
}

#dev-pokkenmatchuprecorder {
  display: none;
}

#dev-portfolio {
  display: none;
}
